<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.barberapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BarberApp"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBgSNllXo4vcaE9fD0xBS1wR3vEAn1FWpY" />

        <activity
            android:name=".view.history.HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".view.appointment.AppointmentActivity"
            android:exported="false" />
        <activity
            android:name=".view.appointment.BarberListActivity"
            android:exported="false" />
        <activity
            android:name=".view.service.ServiceActivity"
            android:exported="false" />
        <activity
            android:name=".view.auth.RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".view.dashboard.DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".view.auth.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".view.SplashScreen"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".model.util.AppFCMService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>